<a href="https://colab.research.google.com/github/cooper62498/SI370_final/blob/master/370project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# [Kaggle Walmart Recruiting](https://www.kaggle.com/c/walmart-recruiting-trip-type-classification)

In [0]:
# https://stackoverflow.com/questions/46986398/import-data-into-google-colaboratory
from google.colab import drive
drive.mount("/content/drive")#, force_remount=True)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd

In [0]:
train_df = pd.read_csv("/content/drive/Shared drives/370/data/train.csv")

In [0]:
test_df = pd.read_csv("/content/drive/Shared drives/370/data/test.csv")

In [0]:
train_df.describe(include="all")

             TripType    VisitNumber  ... DepartmentDescription  FinelineNumber
count   647054.000000  647054.000000  ...                645693   642925.000000
unique            NaN            NaN  ...                    68             NaN
top               NaN            NaN  ...     GROCERY DRY GOODS             NaN
freq              NaN            NaN  ...                 70402             NaN
mean        58.584511   96167.640078  ...                   NaN     3726.884567
std        157.635533   55545.485154  ...                   NaN     2780.966158
min          3.000000       5.000000  ...                   NaN        0.000000
25%         27.000000   49268.000000  ...                   NaN     1404.000000
50%         39.000000   97074.000000  ...                   NaN     3352.000000
75%         40.000000  144316.000000  ...                   NaN     5501.000000
max        999.000000  191347.000000  ...                   NaN     9998.000000

[11 rows x 7 columns]

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
train_df.shape

(647054, 7)

In [0]:
for col in train_df.columns:
    print(f"{col:20}: {train_df[col].isnull().sum()}")

TripType            : 0
VisitNumber         : 0
Weekday             : 0
Upc                 : 4129
ScanCount           : 0
DepartmentDescription: 1361
FinelineNumber      : 4129

In [0]:
for col in test_df.columns:
    print(f"{col:20}: {train_df[col].isnull().sum()}")

VisitNumber         : 0
Weekday             : 0
Upc                 : 4129
ScanCount           : 0
DepartmentDescription: 1361
FinelineNumber      : 4129

In [0]:
train_df = train_df.dropna()

In [0]:
for col in train_df.columns:
    print(f"{col:20}: {train_df[col].isnull().sum()}")

TripType            : 0
VisitNumber         : 0
Weekday             : 0
Upc                 : 0
ScanCount           : 0
DepartmentDescription: 0
FinelineNumber      : 0

In [0]:
from sklearn.cluster import KMeans

In [0]:
seed = 42

In [0]:
km = KMeans(random_state=seed)

In [0]:
km

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=8, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=42, tol=0.0001, verbose=0)

In [0]:
train_df_dummies = pd.get_dummies(train_df)

In [0]:
km.fit(train_df_dummies)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=8, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=42, tol=0.0001, verbose=0)

In [0]:
from sklearn import metrics

In [0]:
cluster_dict = {}
for k in range(2,50):
    kmeans = KMeans(n_clusters=k)
    kmeans.fit(train_df_dummies)
    silhouette_score = metrics.silhouette_score(train_df_dummies,kmeans.labels_)
    print(f"K = {k}: {silhouette_score}")
    cluster_dict[k] = silhouette_score